body {
  background-color: #f9f7f7;
}

.container {
  margin: 0px 10px;
}

.chart-ctn {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #fff;
}

.set-width {
  width: 1200px;
}
h2 {
  width: 700px;
  margin-top: 0px;
}

.pie-chart-container {
  width: 50%;
  max-width: 400px;
}
